@import "@/shared/styles/vars.scss";

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error {
  font-size: 2.6rem;
  font-weight: 700;
  color: $color-red;
}
