$color-yellow: #ffc32d;
$color-yellow-light: #fcc844;
$color-black: #141414;
$color-red: #ff0000;
$color-beige: #fffbf2;
$color-beige-dark: #ffd875;
$color-white: #ffffff;
$color-grey: #f4f4f4;
$color-grey-dark: #a1a1a1;

$font-primary: "Roboto Slab", Arial, serif;

$breakpoint-sm: 20em;
$breakpoint-md: 28.125em;
$breakpoint-lg: 38.125em;
$breakpoint-xl: 59.375em;
$breakpoint-2xl: 75em;
$breakpoint-3xl: 90em;
